<section>
    <div class="stat-name">
        <h3>{{localize "openlegend.defenses.toughness"}}</h3>
    </div>
    <div class="stat-value">
        <input name="data.defense.toughness" type="text" value="{{data.defenses.toughness.value}}" data-dtype="Number"/>
    </div>
    <div class="stat-name">
        <h3>{{localize "openlegend.defenses.guard"}}</h3>
    </div>
    <div class="stat-value">
        <input name="data.defense.guard" type="text" value="{{data.defenses.guard.value}}" data-dtype="Number"/>
    </div>
    <div class="stat-name">
        <h3>{{localize "openlegend.defenses.resolve"}}</h3>
    </div>
    <div class="stat-value">
        <input name="data.defense.resolve" type="text" value="{{data.defenses.resolve.value}}" data-dtype="Number"/>
    </div>
    <div class="stat-value">
        <input name="data.hp.value" type="text" value="{{data.hp.value}}" data-dtype="Number"/>
    </div>
</section>
